@media (max-width: 800px) {
    #city-icon {
        display: none;
    }
    
    #city-name {
        font-size: 2rem;
    }
    
    #facts {
        margin-top: 2rem;
    }
    
    #row2 {
        margin-top: 2rem!important;
    }
}

.container-fluid, html {
    background: #FF6666;
}

.bg-light{
    background: #F1E8B8!important;
}

.bg-secondary, button {
    background: #17A597!important;
    border-color: #17A597!important;
}

.text-light {
    
}

